* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #213547;
  line-height: 1.5;
  overflow-x: hidden;
}

button:focus,
button:focus-visible,
input:focus,
input:focus-visible,
a:focus {
  outline: none !important;
  box-shadow: none !important;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}